body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

input {
  border: none;
  outline: none;
}

::selection {
  background-color: var(--color-accent);
  color: #fff;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

textarea {
  resize: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  outline: none;
  padding: 1rem;
}

@media (max-width: 640px) {
  .sidebar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .canvas {
    padding: 1rem;
  }
}

